//
// Utilities
//

$breakpoints: (
  'xs': 0,
  'sm': 576px,
  'md': 768px,
  'lg': 992px,
);

// Allows you to get a breakpoint size by name.
@function get-breakpoint($size) {
  @return map-get($map: $breakpoints, $key: $size);
}

// Allows you to create a media query for a breakpoint size.
@mixin breakpoint-up($size-name) {
  $size: get-breakpoint($size-name);

  @media (min-width: $size) {
    @content;
  }
}

//
// Element styles
//
* {
  font-family: 'Open Sans', sans-serif;
}

//
// Typography
//
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Robot Condensed', sans-serif !important;
  font-weight: 700 !important;
}

/**
* Specific styles
*/

// Nav
.custom-nav {
  $padding-y: 1.5rem;
  padding-top: $padding-y;
  padding-bottom: $padding-y;
}

.nav-logo {
  max-width: 12.5rem;
  display: inline-block;

  &__image {
    width: 100%;
  }
}

#nav-collapsible-content {
  justify-content: flex-end;
}

.nav-item {
  $margin-y: 1rem;
  margin-top: $margin-y;

  @include breakpoint-up('md') {
    margin-top: 0;
    margin-left: 1rem;
  }

  &__link {
    color: black !important;
  }
}

// Header
.custom-header {
  margin-top: 3rem;
  margin-bottom: 2rem;
}

// Posts
.posts {
  padding-left: 0;
}

.post {
  list-style: none;

  & + & {
    margin-top: 3rem;
  }

  &__link {
    color: black;
  }

  &__container {
    @include breakpoint-up('md') {
      display: flex;
      align-items: flex-start;
    }
  }

  &__image {
    width: 100%;
    margin-bottom: 2rem;

    @include breakpoint-up('md') {
      width: 30%;
      max-width: 100px;
      height: auto;
      margin-right: 1rem;
      margin-bottom: 0;
    }
  }

  &__description {
    color: rgb(0, 0, 0, 0.9);
  }
}
