/**
* If you are viewing the CSS file, please see index.scss because it generated
* the former and is easier to read.
*/
/**
* * Element styles
*/
* {
  font-family: "Open Sans", sans-serif;
}

/**
* * Typography
*/
.nav-item, h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Robot Condensed", sans-serif !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700 !important;
}

/**
* * All pages
*/
/**
* Nav
*/
.custom-nav {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.nav-logo {
  max-width: 12.5rem;
  display: inline-block;
}
.nav-logo__image {
  width: 100%;
}

#nav-collapsible-content {
  justify-content: flex-end;
}

.nav-item {
  margin-top: 1rem;
}
@media (min-width: 768px) {
  .nav-item {
    margin-top: 0;
    margin-left: 1rem;
  }
}
.nav-item__link {
  color: black !important;
}

.footer {
  padding: 1.625rem 0;
  border-top: 0.0625rem solid #d8d8d8;
}

/**
* * Homepage
*/
/**
* Header
*/
.custom-header, .contact-header, .home-header {
  margin-top: 3rem;
  margin-bottom: 2rem;
}

/**
* Posts
*/
.home-header {
  margin-bottom: 4rem;
}
.home-header__subtitle {
  font-size: 1.25rem;
}

.recent-posts-title {
  margin-bottom: 1rem;
}

.posts {
  padding-left: 0;
  margin-bottom: 5rem;
}
@media (min-width: 992px) {
  .posts {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 0;
  }
}

.post {
  list-style: none;
  flex-basis: 48%;
}
@media (min-width: 992px) {
  .post {
    margin-bottom: 5rem;
  }
}
.post + .post {
  margin-top: 5rem;
}
@media (min-width: 992px) {
  .post + .post {
    margin-top: 0;
  }
}
@media (min-width: 576px) {
  .post__title {
    font-size: 1.125rem;
  }
}
@media (min-width: 768px) {
  .post__title {
    font-size: 1.5rem;
  }
}
@media (min-width: 992px) {
  .post__title {
    font-size: 1.125rem;
  }
}
.post__link {
  color: black;
}
.post__link:hover {
  text-decoration: none;
}
@media (min-width: 576px) {
  .post__container {
    display: flex;
    align-items: center;
  }
}
.post__image {
  width: 100%;
  margin-bottom: 2rem;
}
@media (min-width: 576px) {
  .post__image {
    margin-right: 2rem;
    margin-bottom: 0;
    -o-object-fit: cover;
       object-fit: cover;
    width: 9.6875rem;
    height: 8.75rem;
  }
}
@media (min-width: 768px) {
  .post__image {
    width: 11.04375rem;
    height: 9.975rem;
  }
}
@media (min-width: 992px) {
  .post__image {
    margin-right: 1rem;
    width: 9.6875rem;
    height: 8.75rem;
  }
}
.post__description {
  color: rgba(0, 0, 0, 0.9);
  margin-bottom: 0;
}
@media (min-width: 576px) {
  .post__description {
    font-size: 0.875rem;
  }
}
@media (min-width: 768px) {
  .post__description {
    font-size: 1rem;
  }
}
@media (min-width: 992px) {
  .post__description {
    font-size: 0.875rem;
  }
}

/**
* Post page
*/
.post-header {
  margin-top: 3.44rem;
  margin-bottom: 3.06rem;
}
.post-header__title {
  margin-bottom: 1.31rem;
  font-size: 1.5rem;
}
@media (min-width: 576px) {
  .post-header__title {
    font-size: 2rem;
  }
}
@media (min-width: 768px) {
  .post-header__title {
    font-size: 2.5rem;
  }
}
@media (min-width: 768px) {
  .post-header__title {
    font-size: 3rem;
  }
}
.post-header__author {
  margin-bottom: 2rem;
  display: block;
}
@media (min-width: 768px) {
  .post-header__author {
    font-size: 1.1rem;
  }
}
@media (min-width: 992px) {
  .post-header__author {
    font-size: 1.2rem;
  }
}
.post-header__image {
  width: 100%;
}

.post-body {
  margin-bottom: 3.87rem;
}
@media (min-width: 576px) {
  .post-body {
    font-size: 1.1rem;
    line-height: 1.5;
  }
}
@media (min-width: 768px) {
  .post-body {
    font-size: 1.2rem;
  }
}
@media (min-width: 992px) {
  .post-body {
    font-size: 1.3rem;
  }
}

/**
* Contact Page
*/
.contact-body {
  margin-bottom: 4.87rem;
}

.contact-header {
  margin-top: 0;
  margin-bottom: 3rem;
}

.contact-field + .contact-field {
  margin-top: 2rem;
}
.contact-field__label {
  font-weight: 700;
}

.contact-toolbar {
  margin-top: 3rem;
  display: flex;
  justify-content: flex-end;
}

.contact-img {
  margin-bottom: 3rem;
  width: 100%;
  max-height: 25rem;
  -o-object-fit: cover;
     object-fit: cover;
}